body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(231, 228, 228);
    text-align: center;

}

.box {
    display: inline-block;
    width: 85%;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 45vw;
        
}

.container {
    background-color: rgb(192, 179, 179);
}

.title {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 70px;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('title_img.jpg');
}

.item {
    border-radius: 10px;
    margin: 2vw;
    padding: 10px;
}

img {
    height: 32vw;
}

.name {
    font-size: 1.5555vw;
    font-weight: bold;
    text-align: center;
    line-height: 2.9999vw;
    color: rgb(28, 27, 27);
    letter-spacing: 0.0111em;
}